/*
    DEMO STYLE
*/
/* 
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */ */
body {
    /* font-family: 'Poppins', sans-serif; */
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    /* font-weight: 300; */
    line-height: 1.7em;
    color: gray;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.fixed-navbar {
    position: fixed;
    top: 0px;
    z-index: 99;
    margin-left: 250px;
    width: calc(100% - 250px);
}
.sidebar-close.fixed-navbar {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.profile-dropdown {
    padding-right: 40px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    /* min-width: 250px;
    max-width: 250px;
    background: #16223e;
    color: #fff;
    transition: all 0.3s; */

    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background:  #16223e;
    color: #fff;
    transition: all 0.3s;
    overflow: auto;
}






#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
   
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    /* font-size: 0.85em; */
    font-size: 15px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-top: 25px;
    background: 16223e;
}
#sidebar .sidebar-header img{
    max-width: 100%;
    width:95%
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px 30px;
    /* font-size: 1.1em; */
    display: block;
    font-size: 15px;
}

#sidebar ul li a:hover {
    color: #16223e;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #16223e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 58px  !important;
    background: #16223e;
}

ul.CTAs {
    /* padding: 20px; */
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    /* border-radius: 5px; */
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.navbar-clearfix {
    margin-top: 120px;
    /* position: absolute; */
}

.content {
    /* width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s; */
    /* padding-top: 2%!important; */
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.2s;
    margin-left: 250px;
    margin-top: 80px;
}

.sidebar-close {
    margin-left: 70px;
    width: calc(100% - 70px);
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin-top: 0px;
        margin-bottom: 20px;
    }



    .profile-dropdown::after{
        right: 20% !important;
        top: 50% !important;
    }
    .content {
        margin-left: 0px;
    }
    .sidebar-close {
        margin-left: 70px;
    }
    .b-img {
        max-width: 150px;
    }
        
    .fixed-navbar {
        width: calc(100% - 0px);
        margin-left: 0px;
    }

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -250px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }

    .data-f{
        margin-top: 5%!important;

    }
    .r-w {
        
    margin-top: 12px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {

    .r-w{
        margin-top: 18px;
    } 

}
 

.circle-pro{
    width: 50px;
    height: 50px;
    /* background: red; */
    border-radius: 30px;
    /* border: 1px solid lightblue; */
}
.circle-pro img{
    width: 100%;
    max-width: 100%;
    border-radius: 40px;border: 1px solid lightgray;;
}
.border-t input{
  
        width: 100%;
        border-radius:20px ;
        padding: 10px;
    
}
.border-t{
    padding-top: 3px;
}
.left-box{
    width: 65px;
    /* background-color: red; */
}
.right-box{
    width: 498px;
    /* background-color: blue; */
}
.po-send{
    padding: 4px;
    float: right;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #16223e;
    color: white;
    margin-top: 8px;
    border-radius: 10px;font-size: 12px;
}
.post-1 h6{
font-weight: 600;
}
.post-1 p{
    font-size: 12px;
}
.post-1 span{
    font-size: 11px;
    color: lightgray;
    font-weight: 600;
  }
  .ass{
    margin-left: 8px;
    padding-top: 5px;
    color: lightgray;
  }
  .social-icons{
      width: 30px;
      height: 30px;
      border-radius: 16px;
      border: 1px solid gray;
      text-align: center;
  }
  .social-icons img{
      max-width: 90%;
      width: 90%;
  
    border-radius: 16px;
}



/* 2nd attent */
.main-boxs{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 2%;
   
}
.rt-box{
    width: 60px;
    /* background-color: blue; */

float: left;
}
.lt-box{
    width: 525px;
    /* background-color: green;  */
 
 float: left;
}
.ps{
    margin-right: 15px!important;
}
.pro-circle{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 40px;
}
.left-box2{
display: inline-block
}
.right-box2{
    display: inline-block
}


.b1{
    width: 50%;
    float:left;
}
.b1 h6{
font-weight: 600;
}
.b2{width: 50%;
    float:left;
}
.text-r{
    text-align: end;
    font-size: 12px;
    color: lightgray;
}
.lt-box p{
    font-size: 12px;
}
.sub-1{
    width: 50px;float: left;
}

.sub-2{
    width: 473px;float: left;
}
.sub-1.p-ss{
    width: 60px!important;
}
.sub-2.p-ss2{
    width: 465px!important;
}
.comment-user{
padding-top: 15px;
border-top: 1px solid lightgray;
}


/* index-copycopy */
.main-box {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid lightgray; }
    .main-box .circle-img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background: blue; }
    .main-box .circle-img img {
      width: 50px;
      height: 50px;
      border-radius: 30px; }
    .main-box .in-field input {
      margin-top: 2px;
      border-radius: 20px;
      padding: 8px; }
    .main-box .ps {
      margin-right: 15px !important; }
    .main-box .po-send {
      padding: 4px;
      padding-right: 4px;
      padding-left: 4px;
      float: right;
      padding-left: 15px;
      padding-right: 20px;
      background-color: #16223e;
      color: white;
      margin-top: 8px;
      border-radius: 10px;
      font-size: 12px; }
  
  .mainbox2 .name h6 {
    font-weight: 600; }
  .mainbox2 .time p {
    font-size: 12px;
    color: lightgray;
    text-align: end;
    font-weight: 400;
    margin-right: 14px; }
  .mainbox2 .time p .ass {
    margin-left: 10px;
    padding-top: 2px; }
  .mainbox2 .self-comment {
    border-top: 1px solid lightgray;
    padding-top: 18px; }
  .mainbox2 .comment-1 {
    margin-top: 25px; }
  .mainbox2 .lsc .ad {
    margin-left: 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 20px;
    background-image: url("like.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
  .mainbox2 .lsc .ad img {
    width: 100%;
    max-width: 100%; }



.sub-coment{
    margin-top: 20px;
}
    .icons span{
        color: lightgray;
font-size: 13px;font-weight: 500;
       
    }
    .icons img{
        width: 26px;
        margin-left: 20px;;
    }

    .icons img:hover {
        background-color: #16223e;border-radius: 12px;color:white
      }





      .left-box.tg{
        width: 50px;
      }
      .right-box.gt{
          width: 430px;
      }
      .left-box.tg .circle-pro{
        width: 36px;height: 36px;
      }
      .fgh{
          margin-top: 20px;
      }
      .df{
        margin-top: inherit;
      }
      .st{
        border-top: 1px solid lightgray;
        padding-top: 20px;margin-top: 20px;
        
      }




      .right-fbox{margin-top: 20px;
        border: 1px solid lightgray;
        padding: 20px;border-radius: 8px
       
    }
  
    .new-text li{
        text-decoration: none;font-size: 12px ;
    }
    .new-text ul{
        list-style: none;padding: 0px
    }
    .ss{
        display: inline-block;margin-left: 45px;    margin-bottom: 12px;
    }
    .margin-top{
        margin-top: 22px
    }
    .pp{
        margin-right: 0px!important
    }
    .img-post img
    {
width: 100%;
max-width: 100%;border-radius: 8px;
    }
    .icons span{
        font-size: 13px;font-weight: 400;color:lightgray;margin-left: 4px;
    }
    